.nav-bg {
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-image: url("images/nav-bg.jpg");
}

.nav-link:hover {
    color:orange;
}

.button {
  background-color: orange !important;
  color: white !important;
  text-align: center !important;
  display: inline-block !important;
  width: 5rem;
}

.button:hover {
  background-color:white !important;
  color: black !important;

}

.bars {
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 0;
    -webkit-appearance: none;
    border: 1px solide transparent;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


.oi {
    height: 6rem;
    font-size: 70px;
}

.oi:hover {
    color: orange;
}

  .box {
    width: 227px;
    height: 227px;
    padding: 4px;
    background-color: #f6f6f6;
  }  
  .box a {
    color: #461e52;
    display: block;
    max-width: 100%;
    height: auto !important;
    font-size: 22px;
    font-weight: 700;
    padding: 30% 30px 0 30px;
    text-align: center;
    transition: none;
    line-height: 1;
    font-family: 'Open Sans Condensed', Arial, Verdana, sans-serif;
  }
  .box:hover{
    background-color: #461e52;
  }
  .box:hover a{
   color:#fff;
   text-decoration:none;
  }
  .mission-next-arrow {
    position: absolute;
    background: url(https://raw.githubusercontent.com/solodev/icon-box-slider/master/nextarrow2.png) no-repeat center;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
    right: -36px;
    height: 17px;
    width: 10px;
    border:none;
  }
  .mission-next-arrow:hover {
    cursor: pointer;	
  }
  .mission-prev-arrow {
    background: url(https://raw.githubusercontent.com/solodev/icon-box-slider/master/prevarrow2.png) no-repeat center;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -36px;
    height: 17px;
    width: 10px;
    border:none;
  } 
  .mission-prev-arrow:hover {
    cursor: pointer;	
  }
  .box a.more-links {
    color: #fff;
    padding: 70px 110px 0 20px;
    background: #a89269 url(https://raw.githubusercontent.com/solodev/icon-box-slider/master/rightarrow.png) no-repeat 155px 170px;
  }

  